In [2]:
value = 10
value

10

In [6]:
sorted("string")

['g', 'i', 'n', 'r', 's', 't']

In [28]:
a = "Python is the high level programming language"
a[::2]

'Pto stehg ee rgamn agae'

In [51]:
# type casting
int(1.0)
float(1)
str(1)
a = complex(1 + 10j) + complex(2 + 20j)
a

(3+30j)

 # Flow controls 

1. Conditional Statements
2. Transfer Statements
3. Iterative Statements

In [46]:
# Conditional Statement
a = 12
if a == 10:
    print("You good bro")
elif a == 11:
    print("You still good bro")
else:
    print("No good bro")

No good bro

In [49]:
# Transfer Statement
pass 
continue
break

SyntaxError: 'continue' not properly in loop (<ipython-input-49-5f429da0079c>, line 8)

In [74]:
# Iterative Statements
for i in range(5):
    print(i)
i  = 10
while i >= 0:
    print(i)
    i = i - 2

0
1
2
3
4
10
8
6
4
2
0

In [59]:
name = input("Enter your name:")
print("Hello {:}".format(name))

Enter your name:Deep
Hello Deep

In [101]:
# Keywords
a = [10,25,65,98,52,2,3]
print(len(a))
print(sorted(a))
print(id(a))
a.sort()
id(a)

7
[2, 3, 10, 25, 52, 65, 98]
1755281454408

1755281454408

foo.reverse() actually reverses the elements in the container.
reversed() doesn't actually reverse anything, it merely returns
an object that can be used to iterate over the container's
elements in reverse order. If that's what you need, it's 
often faster than actually reversing the elements.

In [ ]:
a.reverse() # actually reverses the

In [103]:
a.reverse()
print(a)
id(a) # unique number to identify the object through out its life time

[98, 65, 52, 25, 10, 3, 2]

In [107]:
reversed(a)
print(id(a))
a.reverse()
print(id(a))

1755281454408
1755281454408

In [17]:
35//30

1

In [22]:
35/30.000

1.1666666666666667

In [26]:
len(str(25))

2

In [29]:
str(25) + str(25)

'2525'

In [37]:
msn = 'bro'
'hello' + ' ' + msn

'hello bro'

In [40]:
50 * 'bro'

'brobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobrobro\n'

In [47]:
lis = [1,2,3,4,5]
for _ in lis:
    if _ in [1,2]:
        print('yes')

yes
yes

Q Program to count total number of negative elements in array
Example
Input: [5,-8,1,-9,-6]
Output: count of negative elements: 3

Q Program to find sum of all elements of an array
Example
Input: [5,8,1,9,6]
Output: sum= 29

Q Find largest and smallest number in array?
Example
Input: [5,-2,9,-3,-10,8,15,0,9]
Output: Max:15 Min:-10


Q Program to print sum of all even numbers between 1 to n.
Example
Input: n = 10
Output: 30 
Explaination: 2+4+6+8+10

Q Program to print sum of all odd numbers between 1 to n.
Example
Input: n = 10
Output: 25
Explaination: 1+3+5+7+9

Q Program to enter any number and calculate sum of its digits.
Example 
Input: 528 
Ouput: 5+2+8 = 15

Q Program to enter any number and calculate multiplication of its digits.
Example 
Input: 528 
Ouput: 5*2*8 = 80

Q Input a number and print the reverse of the num
Example
Input: 1367
Output: 7631

Q Program to Calculate the Sum of first N Natural Numbers
Example
Input: N=10
Output: Add numbers from 1 to 10 ---> 55 


Q Program to Find Factorial of a Number N
Example
Input: N = 5
Output: Factorial = 1 x 2 x 3 x 4 x 5 = 120


Q Program to Display first n Fibonacci numbers 
Example
Input: N = 8
Output: 0,1,1,2,3,5,8,13

Q In an array 1 to 10 numbers are stored, one number is missing how do you find it?
Example
Input: [1,2,3,4,?,6,7,8,9,10]
Output: 5

Q Program to Check if a number is a Armstrong Number 
(A number is a amstrong number if sum of cube of individual nos is equal to original no)
Example
Input: 153
Output: Yes 
Explaination: (1*1*1 + 5*5*5 + 3*3*3 = 153)

Q Program to Check Whether a Character is Vowel or Consonant
Example
Input: A
Output: vowel
Input: C
Output: Consonant

Q Program to check whether a character is uppercase or lowercase alphabet.
Example
Input: 'a'
Output: lowercase

In [292]:
def findNegative(lst):
    count = 0
    for _ in lst:
        if _ < 0:
            count +=1
    return count

findNegative([5,-8,-1,-9,6])

def findSum(lst):
    return sum(lst)

def findSum2(lst):
    total = 0
    for i in lst:
        total += i
    return total
    
findSum2([5,8,1,9,6])

def findMaxMin(lst):
    return max(lst), min(lst)

def findMaxMin2(lst):
    minn = lst[0]
    maxn = lst[0]
    for i in lst:
        if i < minn:
            minn = i
        if i > maxn:
            maxn = i
    return maxn, minn

findMaxMin2([5,-2,9,-3,-10,8,15,0,9])


def sumEven(n):
    total = 0
    for i in range(n+1):
        if i % 2 == 0:
            total += i
    
    return total

sumEven(10)

def sumOdd(n):
    total = 0
    for i in range(n+1):
        if i % 2 == 1:
            total += i
    
    return total
    
sumOdd(3)

def calculateSum(n):
    string_num = str(n)
    total = 0
    for i in range(len(string_num)):
        total += int(string_num[i])
    return total

calculateSum(123456789)

def calculateProd(n):
    string_num = str(n)
    total = 1
    for i in range(len(string_num)):
        total *= int(string_num[i])
    return total

calculateProd(528)

def printReverse(n):
    print(''.join((list(reversed(str(n))))))
          
printReverse(123456)    

def sumNatural(n):
    total = 0
    for i in range(n+1):
        if i != 0:
            total += i
    return total

sumNatural(10)

def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n-1)
    
fact(5)   

def fib(n):
    i = 0 
    f = 0
    s = 1
    if n == 0:
        print("Invalid value")
    else:
         while i < n:
                if i <= 1:
                    value = i
                else:
                    value = f + s
                    f = s
                    s = value
                print(value) 
                i = i + 1
fib(5)

def findMissing(lst):
    for i in range(len(lst)):
        if lst[i] == '?':
            return (i + 1) 
            

findMissing([1,2,'?',4, 5 ,6,7,8,9,10])

def checkArmstrong(n):
    num_str = str(n)
    
    if len(num_str) == 1:
        return n**3 == n
    elif len(num_str) == 2:
        return int(num_str[0])**3 + int(num_str[1])**3 == n
    else:
        for i in range(len(num_str)):
            value = int(num_str[i])**3 + int(num_str[i + 1])**3 + int(num_str[i + 2])**3
            return value == n
            
checkArmstrong(153)


def checkVowel(c):
    if c.lower() in ['a', 'e', 'i', 'o', 'u']:
        return "Vowel"
    else:
        return "Consonant"

checkVowel('o')

def checkUpper(c):
    if c.upper() == c:
        return "Upper"
    else:
        return "Lower"

checkUpper('V')

654321
0
1
1
2
3

'Upper'

In [1]:
10 << 2

40

In [5]:
10 >> 2
print(-True)

-1

In [6]:
print(4&5)

4

In [10]:
a = 2
b = 10
x = 35 if a > b else 50
x

50

In [16]:
a = 1
b = 1
a is b
a is not b

False

In [26]:
list([1,2,3,4])

[1, 2, 3, 4]

In [29]:
# set
a = {1,1,2,2,5,2,5,2}

{1, 2, 5}

In [76]:
import math as m
from math import pi

m.pi
m.sqrt(4)
m.cos(90)
pi
m.ceil(25.01)
m.floor(25.999999999999)
m.pow(2,4)
m.factorial(5)
m.trunc(5.98)
m.gcd(50,90)

10

In [93]:
# program to find the area of the circle

def area_circle(r):
    return pi * r ** 2
    
area_circle(m.sqrt(1/pi))

0.9999999999999999

In [82]:
a = m.inf
b = -m.inf
a + b

nan

# Strings are immutable
# Tuples are immutable
# Lists are mutable

In [87]:
["names","bro"] is not ["names","pro"]

True

In [100]:
a = "this is a 'single' quote"

In [111]:
# slicing in python

#a[beginIndex, endIndex, steps]

a[0:len(a)-7]
a[-2]
a[::-1]

"etouq 'elgnis' a si siht"

In [113]:
def printReverse(n):
    a = str(n)
    return a[::-1]
printReverse(256)

'652'

In [114]:
a[0:len(a):4]

't aieu'

In [121]:
a[:len(a):5]

"ti'lu"

In [14]:
a = [1,2,3,4,5,6,7,8,9,10]
a = "bro you suck"
a[::-1]

'kcus uoy orb'

In [21]:
# print string in reverse using while loop.

a = "bro what the hell"
l = len(a)
i = 0
while i < l:
    print(a[l-1])
    l -= 1

l
l
e
h

e
h
t

t
a
h
w

o
r
b

In [55]:
# replace using the replace function of the string
# strings are immutable, the replace function will only create a new object

a = "what the hell is going hell hell on"
print(id(a))
b = "what the hell is going on"
'p' in a
s = a.replace('hell', 'bro')
a
print(id(s))

1607662263792

'what the hell is going hell hell on'

In [59]:
a = "bro what the hell"
a.split()

['bro', 'what', 'the', 'hell']

In [64]:
'#'.join(a)

'b#r#o# #w#h#a#t# #t#h#e# #h#e#l#l'

In [66]:
a.title()

'Bro What The Hell'

In [70]:
a.startswith('bro') # true
a.endswith('bro') # False

False

In [80]:
a.isalnum()

False

In [36]:
# find inside the string using the find function of the string

a.find("hell")

9

In [49]:
# fibonacci using recursive function

def fib(n):
    if n == 0:
        return 'invalid'
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)
fib(3)

1

In [81]:
print("hello {} man what the hell is going on {}".format("bro", "hell"))

hello bro man what the hell is going on hell

In [4]:
s = input("what the man oh man:")
s.count('h')

what the man oh man:sadsadahsd

1

In [61]:
s = 'n bsjdbjsdbaskndk'
a = list(s)
a.pop(1)
a
' '.join(a)[::]

'n b s j d b j s d b a s k n d '

In [66]:
# set
{1,2,3,45,6,7,5,1,2,3,5,461,3}

{1, 2, 3, 5, 6, 7, 45, 461}

In [12]:
x = 2
eval('x + 2')

4

In [20]:
lst = list("hello brother")
[i for i,x in enumerate([1,2,3,2]) if x==1]
l = list(enumerate([1,2,3,2]))
l

[(0, 1), (1, 2), (2, 3), (3, 2)]

In [53]:
lst.count('h')

2

In [56]:
lst.index('b')

6

In [59]:
lst.append('a')
lst

['h', 'e', 'l', 'l', 'o', ' ', 'b', 'r', 'o', 't', 'h', 'e', 'r', 'a', 'a']

In [100]:
lst = [40, 10, 20]
[i for i in range(101) if i % 10 == 0]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [101]:
lst.extend([1,2,5,4,6])
lst

[40, 10, 20, 1, 2, 5, 4, 6]

In [102]:
lst.remove(10)
lst

[40, 20, 1, 2, 5, 4, 6]

In [105]:
d = {1: "Hello", 2: "bull", 3:"shit"}

In [111]:
for i in d:
    print(d[i])

Hello
bull
shit

In [125]:
for i,j in d.items():
    print(i,j)

1 Hello
2 bull
3 shit

In [137]:
# = will not create a different object and you will still be working with the original object

l = [1,2,3,45]
s = l
print(id(l))
id(s)
l is s

1810204987336

True

In [139]:
# .copy function will actually create a new object
s = l.copy()
id(s)
l is s

False

In [146]:
l = [1,2,3,4,5,6,7,8,9]

s = [i ** 2  for i in l if i % 2 == 0]
s

[4, 16, 36, 64]

In [ ]:
d = {1: "Hello", 2: "bull", 3:"shit"}

In [163]:
s = "the quick brown fox jumps over the lazy dogs"
a = set([i for i in sorted(s.replace(' ', '') )])
len(a)
print(sorted(a))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
Q Reverse words of a string
Example
Input: "Python Means Programming"
Output: "Programming Means Python"  
Explaination:
#reverse the string

Q Check if two strings are anagrams or not?
Example
Input: "aaba" & "aaab"
Output: Yes

Input: "abcd" & "deba"
Output: No

Q check if a string is palindrome
Example
Input: hello-> olleh
Output:  Not a palindrome

Input: madam-> madam
Output:  palindrome

Explaination: Yes, if reversed string is same as original string
Note: Try to use your own logic to find palindrome
    
Q Input a string and find out duplicates alphabets

Example
Input: python at zenrays
Output:  a,n
Explaination: a & n both are repeating in the string
    
Q Count occurrences of a specific character in a String


Q Count occurrence of specific word in a String 


Q Find out no of alphabets, lowercase, uppercase, vowels, consonants,
 digits, spaces in a string

    
Q Check if a string is a double string
Example
Input: "1221"
Output: No

Input: "abab"
Output: Yes

Input: "aaaaa"
Output: No

Input: "bbaabb"
Output: No

Explaination: 
We call a string a "double string" if it has an even length and 
the first half of this string is equal to the second half of this string


Q program to merge two charcters into single 
 S1 = "ravi"
S2 = "teja"
Output :- S = raviteja
    
Q write a program to remove duplicate characters from the string from the input string

input:- ABCDABBCCDDAAA
output :- ABCD

    
Q ;- write a program to find the occurrences from each charcters present in the given string ?
Inout :- ABCABCABBB
output "- A -3 ,B-5,C -2

In [4]:
def reverseString(string):
    s= string
    a=s.split() #slpit string 
    a.reverse()#reverse the string
    result=" ".join(a) #join the string 
    print(result) #print
    
reverseString("hello man")

man hello

In [21]:
def checkAnagram(a, b):
    return sorted(list(a)) == sorted(list(b))

checkAnagram("aaba", "aaab")
checkAnagram("abcd", "abdf")

False

In [35]:
def checkPalindrome(s):
    return s == s[::-1]

checkPalindrome("madam")
checkPalindrome("hello")

False

In [42]:
def findDuplicates(string):
    s = [x for x in string if string.count(x) > 1]
    return set(s)
    
findDuplicates("python at zenrays")

{' ', 'a', 'n', 't', 'y'}

In [50]:
def findOccChar(string , x):
    return string.count(x)
findOccChar("python at zenrays", "y")

2

In [49]:
def findOccWords(string , x):
    return string.count(x)
findOccWords("python at zenrays", "python")

1

In [71]:
def findAll(string):
    acount = 0
    lcount = 0
    ucount = 0
    vcount = 0
    dcount = 0
    scount = 0
    ccount = 0
    vowels = 'aeiou'
    return sum([acount + 1 for x in string if x.isalpha()]), sum([lcount + 1 for x in string if x.islower()]), sum([ucount + 1 for x in string if x.isupper()]), sum([vcount + 1 for x in string if x in vowels]), sum([ccount + 1 for x in string if x not in vowels and x.isalpha()]), sum([dcount + 1 for x in string if x.isdigit()]), sum([scount + 1 for x in string if x == " "])

result = findAll("Hello 12 hello")  

print("Alphabets = {}".format(result[0]))
print("Lowercase = {}".format(result[1]))
print("Uppercase = {}".format(result[2]))
print("Vowels = {}".format(result[3]))
print("Consonants = {}".format(result[4]))
print("Digits = {}".format(result[5]))
print("Spaces = {}".format(result[6]))

Alphabets = 10
Lowercase = 9
Uppercase = 1
Vowels = 4
Consonants = 6
Digits = 2
Spaces = 2

In [7]:
def findAll(string):
    acount = 0
    lcount = 0
    ucount = 0
    vcount = 0
    dcount = 0
    scount = 0
    ccount = 0
    vowels = 'aeiou'
    for x in string:
        if x.isalpha():
            acount = acount + 1
        if x.islower():
            lcount = lcount + 1
        if x.isupper():
            ucount = ucount + 1
        if x in vowels:
            vcount = vcount + 1
        if x not in vowels and x.isalpha():
            ccount = ccount + 1
        if x.isdigit():
            dcount = dcount + 1
        if x == " ":
            scount = scount + 1
    print("Alphabets = {}".format(acount))
    print("Lowercase = {}".format(lcount))
    print("Uppercase = {}".format(ucount))
    print("Vowels = {}".format(vcount))
    print("Consonants = {}".format(ccount))
    print("Digits = {}".format(dcount))
    print("Spaces = {}".format(scount))

result = findAll("Hello 12 hello")

Alphabets = 10
Lowercase = 9
Uppercase = 1
Vowels = 4
Consonants = 6
Digits = 2
Spaces = 2

In [83]:
def checkDouble(s):
    return len(s) % 2 == 0 and s[:len(s)//2] == s[len(s)//2:]

checkDouble("1212")  
checkDouble("abababababababababab")

True

In [84]:
def mergeString(a, b):
    return a + b

mergeString('teja', 'ravi')

'tejaravi'

In [89]:
def removeDuplicates(s):
    return ''.join(sorted(set(s)))

removeDuplicates('ABCDABBCCDDAAAALALAKALAKALAOAKAL')

'ABCDKLO'

In [2]:
def findOccurance(s):
    for x in s:
        print(x + " = {}".format(s.count(x)))
findOccurance('ABCABCABBB')

A = 3
B = 5
C = 2
A = 3
B = 5
C = 2
A = 3
B = 5
B = 5
B = 5

# Dictionary

In [89]:
d = {1: ["hello", 1,2,3], 2: "bro", 3: "manohman"}
d[1] = "hello"
d

{1: 'hello', 2: 'bro', 3: 'manohman'}

In [90]:
lst = [1,2,3,4,5,8,7]
sorted(lst)
lst.sort()
lst

[1, 2, 3, 4, 5, 7, 8]

In [91]:
for key in d:
    print(d[key])

hello
bro
manohman

In [92]:
d['key'] = 'bro'

In [93]:
del d['key']

In [94]:
d

{1: 'hello', 2: 'bro', 3: 'manohman'}

In [95]:
d[6] = 'mahman'

In [96]:
d

{1: 'hello', 2: 'bro', 3: 'manohman', 6: 'mahman'}

In [107]:
s = d.items()
a = [(k,v) for (v,k) in d.items()]
a[0:]

[('hello', 1), ('bro', 2), ('manohman', 3), ('mahman', 6)]

In [120]:
a = d.keys()
for x in d.keys():
    print(x)

1
2
3
6

In [119]:
# get key and value as list of tuples 

[(i,j) for i,j in d.items()]

[(1, 'hello'), (2, 'bro'), (3, 'manohman'), (6, 'mahman')]

In [123]:
d1 = d.copy()
id(d1)

2108934150256

In [122]:
id(d)

2108934110736

# d.values() for gettin the values of the dictionary

# d.items() to get the iterator for the list of tuples of key and value

# d.keys() to get all the keys in the dictionary

# d.get(key) to get the value at a given key

# d.clear() to empty the dictionary

In [124]:
d.items()

dict_items([(1, 'hello'), (2, 'bro'), (3, 'manohman'), (6, 'mahman')])

In [154]:
# program to count the frequency of alphabets in the word using dictionary

s = "hello bro ooooppppppp"
d = {}
for x in s:
    d[x] = d.get(x,0) + 1
print(d)    
for i,j in d.items():
    print(i,j)

{'h': 1, 'e': 1, 'l': 2, 'o': 6, ' ': 2, 'b': 1, 'r': 1, 'p': 7}
h 1
e 1
l 2
o 6
  2
b 1
r 1
p 7

In [148]:
from collections import Counter
for i,j in Counter('banana').items():
    print(i,j)

b 1
a 3
n 2

# Use dir(set) or dir(anything) to get the list of required functions in python

In [160]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [165]:
a = (1,2,3,4,5,6,1)
a.index(2)

1

In [ ]:
1. Write a Python script to sort (ascending and descending) a dictionary by value.?
2.Write a Python script to add a key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}


3. Write a Python script to concatenate following dictionaries to create a new one. 

Sample Dictionary : 
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4. Write a Python script to check if a given key already exists in a dictionary

5. Write a Python program to iterate over dictionaries using for loop

6.Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 
Sample Dictionary ( n = 5) : 
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}


7. Write a Python script to merge two Python dictionaries


9.Write a Python program to sum all the items in a dictionary.

10.Write a Python program to multiply all the items in a dictionary

11. Write a Python program to remove a key from a dictionary

12. Write a Python program to map two lists into a dictionary

13. Write a Python program to sort a dictionary by key?

14.Write a Python program to get the maximum and minimum value in a dictionary

15. Write a Python program to get a dictionary from an object's fields?

16.Write a Python program to remove duplicates from Dictionary. 


18. Write a Python program to check a dictionary is empty or not. 


19. Write a Python program to combine two dictionary adding values for common keys. 
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})


20. Write a Python program to print all unique values in a dictionary. 
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}


21. Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary. 
Sample data : {'1':['a','b'], '2':['c','d']}
Expected Output: 
ac
ad
bc
bd


22. Write a Python program to find the highest 3 values in a dictionary. 


23. Write a Python program to combine values in python list of dictionaries. 
Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
Expected Output: Counter({'item1': 1150, 'item2': 300})


24. Write a Python program to create a dictionary from a string. 
Note: Track the count of the letters from the string.
Sample string : 'w3resource'
Expected output: {'3': 1, 's': 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}


25. Write a Python program to print a dictionary in table format. 


26. Write a Python program to count the values associated with key in a dictionary. 
Sample data: = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success': False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
Expected result: Count of how many dictionaries have success as True


27. Write a Python program to convert a list into a nested dictionary of keys. 


28. Write a Python program to sort a list alphabetically in a dictionary. 


29. Write a Python program to remove spaces from dictionary keys. 


30. Write a Python program to get the top three items in a shop. 
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Expected Output: 
item4 55
item1 45.5
item3 41.3


31. Write a Python program to get the key, value and item in a dictionary. 


32. Write a Python program to print a dictionary line by line. 


33. Write a Python program to check multiple keys exists in a dictionary. 


34. Write a Python program to count number of items in a dictionary value that is a list. 


35. Write a Python program to sort Counter by value. 
Sample data : {'Math':81, 'Physics':83, 'Chemistry':87}
Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]


36. Write a Python program to create a dictionary from two lists without losing duplicate values. 
Sample lists: ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII'], [1, 2, 2, 3]
Expected Output: defaultdict(<class 'set'>, {'Class-VII': {2}, 'Class-VI': {2}, 'Class-VIII': {3}, 'Class-V': {1}})


37. Write a Python program to replace dictionary values with their sum. 


38. Write a Python program to match key values in two dictionaries. 
Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
Expected output: key1: 1 is present in both x and y


39.Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys. 
Sample Dictionary 
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [55]:
#1. Write a Python script to sort (ascending and descending) a dictionary by value.?

def sortDictionaryAsc(d):
    s = dict(sorted(dict([(y,x) for x,y in d.items()]).items()))
    return dict([(y,x) for x,y in s.items()])
    

def sortDictionaryDsc(d):
    s = dict(sorted(dict([(y,x) for x,y in d.items()]).items(), reverse = True))
    return dict([(y,x) for x,y in s.items()])
    
d = {5:1, 4:2, 6:3, 7:5, 1:7}
sortDictionaryAsc(d)
sortDictionaryDsc(d)

{1: 7, 7: 5, 6: 3, 4: 2, 5: 1}

In [58]:
# 2.Write a Python script to add a key to a dictionary.
#Sample Dictionary : {0: 10, 1: 20}
#Expected Result : {0: 10, 1: 20, 2: 30}

def addKey(d, key, value):
    d[key] = value

d = {0: 10, 1: 20}
addKey(d, 3, 30)
d

{0: 10, 1: 20, 3: 30}

In [67]:
# 3.Write a Python script to concatenate following dictionaries to create a new one. 

# Sample Dictionary : 
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}

# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}


def concatDict(dict1 , dict2, dict3):
    dict1.update(dict2)
    dict1.update(dict3)
    return dic1
    

concatDict(dic1, dic2, dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [69]:
# 4. Write a Python script to check if a given key already exists in a dictionary

def checkKey(dic, key):
    return key in dic.keys()

    
d = {5:1, 4:2, 6:3, 7:5, 1:7}
checkKey(d, 5)

True

In [79]:
# 5. Write a Python program to iterate over dictionaries using for loop

def iterateDic(d):
    for i in d:
        print(i, ":", d[i])

    
d = {5:1, 4:2, 6:3, 7:5, 1:7}
iterateDic(d)

5 : 1
4 : 2
6 : 3
7 : 5
1 : 7

In [82]:
# 6.Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 
# Sample Dictionary ( n = 5) : 
# Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

def genDict(n):
    d = { }
    for i in range(n):
        j = i + 1
        d[j] = j*j
    return d

genDict(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [85]:
# 7. Write a Python script to merge two Python dictionaries

def mergeDict(d1, d2):
    d1.update(d2)
    return d1

d1={1:10, 2:20} 
d2={3:30, 4:40}

mergeDict(d1, d2)

{1: 10, 2: 20, 3: 30, 4: 40}

In [427]:
 # Write a Python program to sum all the items in a dictionary.   
    
def sumDict(d):
    total = 0
    for key,value in d.items():
        total += key + value
    return total
            
sumDict({1:10, 2:20})

33

In [428]:
# Write a Python program to multiply all the items in a dictionary

    
def mulDict(d):
    total = 1
    for key,value in d.items():
        total *= key * value
    return total
            
mulDict({1:10, 2:20})

400

In [104]:
# Write a Python program to remove a key from a dictionary

def removeKey(d, key):
    del d[key]
    return d

d2={3:30, 4:40}
removeKey(d2, 4)

{3: 30}

In [172]:
#  Write a Python program to map two lists into a dictionary

def mapList(l1, l2):
    return dict(zip(l1, l2))

l1 = [1,2,3,4]
l2 = [5,6,7,8]

mapList(l1, l2)

{1: 5, 2: 6, 3: 7, 4: 8}

In [180]:
# Write a Python program to sort a dictionary by key?

def sortKey(d):
    return dict(sorted(dict([(x,y) for x,y in d.items()]).items()))
    
d = {5:1, 4:2, 6:3, 7:5, 1:7}
sortKey(d)

{1: 7, 4: 2, 5: 1, 6: 3, 7: 5}

In [182]:
# Write a Python program to get the maximum and minimum value in a dictionary

def maxminDict(d):
    return "max:", max(d.values()), "min:", min(d.values())

d = {5:1, 4:2, 6:3, 7:5, 1:7}
maxminDict(d)

('max:', 7, 'min:', 1)

In [14]:
# Write a Python program to get a dictionary from an object's fields?

class dictObject():
    
    def __init__(self, value):
        self.name = "man"
        self.id = 12345
        self.address = "123456"
        self.value = value
        
    
    
obj = dictObject("hello")
s = obj.__dict__  
s

{'name': 'man', 'id': 12345, 'address': '123456', 'value': 'hello'}

In [37]:
# Write a Python program to remove duplicates from Dictionary.

def removeDuplicates(d):
    a = dict([(y,x) for x,y in d.items()])
    return dict([(y,x) for x,y in a.items()])

d = {'name': 'man', 'id': 12345, 'address': '123456', 'value': 'man', 'bro': 'man'}
removeDuplicates(d)

{'bro': 'man', 'id': 12345, 'address': '123456'}

In [40]:
# Write a Python program to check a dictionary is empty or not. 

def checkEmpty(d):
    return len(d) == 0

d = {'name': 'man', 'id': 12345, 'address': '123456', 'value': 'man', 'bro': 'man'}
checkEmpty(d)

False

In [79]:
# Write a Python program to combine two dictionary adding values for common keys. 
# d1 = {'a': 100, 'b': 200, 'c':300}
# d2 = {'a': 300, 'b': 200, 'd':400}
# Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

def addValues(d1, d2):
    for key1 in d1.keys():
        for key2 in d2.keys():
            if key1 == key2:
                d1[key1] += d2[key2]
    d2.update(d1)
    return d2

d1 = {'a': 100, 'b': 200, 'c':300, 'g': 900}
d2 = {'a': 300, 'b': 200, 'd':400, 'f':600, 'g':400}

addValues(d1, d2)

{'a': 400, 'b': 400, 'd': 400, 'f': 600, 'g': 1300, 'c': 300}

In [84]:
# Write a Python program to print all unique values in a dictionary. 
# Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
# Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

def printUnique(d):
    print(set(d.values()))

d =  {"V":"S001", "VX": "S002", "VI": "S001", "VY": "S005", "VII":"S005", "V":"S009","VIII":"S007"}
printUnique(d)

{'S001', 'S009', 'S005', 'S002', 'S007'}

In [159]:
# Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary. 
# Sample data : {'1':['a','b'], '2':['c','d']}
# Expected Output: 
# ac
# ad
# bc
# bd
import itertools

def findComb(d):
    lst = [values for values in d.values()]
    return list((itertools.product(*lst)))

d = {'1':['a','b'], '2':['c','d'],'3':['7','9']}
findComb(d)

[('a', 'c', '7'),
 ('a', 'c', '9'),
 ('a', 'd', '7'),
 ('a', 'd', '9'),
 ('b', 'c', '7'),
 ('b', 'c', '9'),
 ('b', 'd', '7'),
 ('b', 'd', '9')]

In [170]:
# Write a Python program to find the highest 3 values in a dictionary. 

def findMax3(d, upto):
    lst = []
    v = [value for value in d.values()]
    for i in range(upto):
        lst.append(max(v))
        v.remove(max(v))
    return lst
    
        
d = {'1':1, '2':2,'3':3, 4:4, 5:5, 100:1000, 6: 523}
findMax3(d, 3)

[1000, 523, 5]

In [502]:
# Write a Python program to combine values in python list of dictionaries. 
# Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
# Expected Output: Counter({'item1': 1150, 'item2': 300})

from collections import Counter

def combineValues(lst):
    a = Counter()
    for i in lst:
        a[i['item']] += i['amount']
    return a
    
s = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
combineValues(s)

Counter({'item1': 1150, 'item2': 300})

In [202]:
# Write a Python program to create a dictionary from a string. 
# Note: Track the count of the letters from the string.
# Sample string : 'w3resource'
# Expected output: {'3': 1, 's': 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

def countChar(s):
    d = {}
    for i in s:
        d[i] = d.get(i,0) + 1
    return d
s = 'w3resource'
countChar(s)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [452]:
# Write a Python program to print a dictionary in table format. 

def printTable(d):
    values = [v for v in d.values()]
    keys = [k for k in d.keys()]
    a = sorted(zip([keys] + values))
    for i in a:
        print(*i)
        
d = {'1':['a','b', 'c'], '2':['c','d', 'e'],'3':['7','9', '10']}    
printTable(d)

['1', '2', '3']
['7', '9', '10']
['a', 'b', 'c']
['c', 'd', 'e']

In [429]:
# Write a Python program to count the values associated with key in a dictionary. 
# Sample data: = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success': False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
# Expected result: Count of how many dictionaries have success as True

def countThing(lst, key, value):
    count = 0
    for d in lst:
        if d[key] == value:
            count += 1
    return count

d = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success': False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
countThing(d, 'success', True)

2

In [444]:
# Write a Python program to convert a list into a nested dictionary of keys.

def lstToKeys(lst):
    s = d = {}
    for i in lst:
        d[i] = {}
        d = d[i]
    return s

lst = [1,2,3,4]
lstToKeys(lst)

{1: {2: {3: {4: {}}}}}

In [426]:
# Write a Python program to sort a list alphabetically in a dictionary.

def sortLst(d):
    v =  [sorted(v) for v in d.values()]
    k = [k for k in d.keys()]
    return dict(zip(k,v))

d = { 1: ['a','z','s', 'd'], 2:['v', 'c', 'l', 'b'], 3: ['s', 'o', 'z']}
sortLst(d)

{1: ['a', 'd', 's', 'z'], 2: ['b', 'c', 'l', 'v'], 3: ['o', 's', 'z']}

In [295]:
# Write a Python program to remove spaces from dictionary keys. 

def removeSpace(d):
    return dict([(k.replace(' ', ''), v)  for k, v in d.items()])

d = {'key 1': 1, 'key 2': 3, 'key 3': 2}
removeSpace(d)

{'key1': 1, 'key2': 3, 'key3': 2}

In [319]:
# Write a Python program to get the top three items in a shop. 
# Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
# Expected Output: 
# item4 55
# item1 45.5
# item3 41.3

def findTop(d, top):
    a = sorted([(v,k) for (k,v) in d.items()], reverse = True)
    return a[:top]

        
d = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}    
findTop(d, 3)

[(55, 'item4'), (45.5, 'item1'), (41.3, 'item3')]

In [320]:
# Write a Python program to get the key, value and item in a dictionary. 

def getAll(d):
    return d.keys(), d.values(), d.items()

d = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}  
getAll(d)

(dict_keys(['item1', 'item2', 'item3', 'item4', 'item5']),
 dict_values([45.5, 35, 41.3, 55, 24]),
 dict_items([('item1', 45.5), ('item2', 35), ('item3', 41.3), ('item4', 55), ('item5', 24)]))

In [323]:
# Write a Python program to print a dictionary line by line.

def printDict(d):
    for i in d:
        print(i, d[i])

d = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}  
printDict(d)

item1 45.5
item2 35
item3 41.3
item4 55
item5 24

In [325]:
# Write a Python program to check multiple keys exists in a dictionary.

def checkMul(d):
    return len(d) > 1

d = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
checkMul(d)

False

In [331]:
# Write a Python program to count number of items in a dictionary value that is a list.

def countLists(d):
    values = [v for v in d.values()]
    count = 0
    for i in values:
        if type(i) == list:
            count +=1
    return count

d = {1: [1,2,3,4], 2:[1,2,3,4], 4:[5], 6:7}
countLists(d)

3

In [333]:
# Write a Python program to sort Counter by value. 
# Sample data : {'Math':81, 'Physics':83, 'Chemistry':87}
# Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

def sortValue(d):
    return [(y,x) for x,y in sorted([(y,x) for x,y in d.items()], reverse = True)]

d = {'Math':81, 'Physics':83, 'Chemistry':87}
sortValue(d)

[('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [341]:
# Write a Python program to create a dictionary from two lists without losing duplicate values. 
# Sample lists: ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII'], [1, 2, 2, 3]
# Expected Output: defaultdict(<class 'set'>, {'Class-VII': {2}, 'Class-VI': {2}, 'Class-VIII': {3}, 'Class-V': {1}})


def createDict(l1, l2):
    return dict(zip(l1, l2))

l1 = ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII']
l2 = [1, 2, 2, 3]

createDict(l1, l2)

{'Class-V': 1, 'Class-VI': 2, 'Class-VII': 2, 'Class-VIII': 3}

In [343]:
# Write a Python program to replace dictionary values with their sum. 

def doIt(d):
    total = sum([v for v in d.values()])
    for i in d:
        d[i] = total
    return d

d = {1:2, 2:3, 3:4, 5:8}
doIt(d)

{1: 17, 2: 17, 3: 17, 5: 17}

In [380]:
#Write a Python program to match key values in two dictionaries. 
#Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
#Expected output: key1: 1 is present in both x and y

def matchDict(d1, d2):
    lst = []
    for i in d1:
        for j in d2:
            if i == j and d1[i] == d2[j]:
                lst.append([i,d1[i]])
    return lst, 'present in both'
            
d1 = {'key1': 1, 'key2': 3, 'key3': 2}
d2 = {'key1': 1, 'key2': 3}
matchDict(d1, d2)

([['key1', 1], ['key2', 3]], 'present in both')

In [381]:
# Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys. 
# Sample Dictionary 
# {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

def randomDict(n):
    d = {}
    for i in range(1, n+1):
        d[i] = i * i
    return d

randomDict(15)

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [ ]:
# 1. Convert the dictionary to set and solve all the questions which I sent you last evening. 
# 2. Explain me the difference between list and tuple in your own words
# 3. Explain me the slicing and indexing for string 
# 4. Give me an example for list inside a tuple.

In [2]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Lists are mutable whereas tuples are immutable. Lists can be modified which means we can add, remove, change, etc 
once assigning values to the lists without creating a different object which is not possible with tuples.

Each character in the string has an index. For example s = "hello" consist of 5 chars and the index of h is 0, e is 1 and so on. 
We can access the values at each index by s[0], s[1], etc. Strings also have negative indexes where s[-1] will reference the last 
character in the string. 
String slicing is based on the concept of string indexing. It allows us to efficiently slice the string or get a substring and 
also we can modify values. For example s= "hello", to reverse the string we can use s[::-1] or we can get a substring by using 
s[2:] which will give us all the chars after index 2 including 2. 

Example of list inside a tuple: t = ([1,2,3], [5,6,9,8])

# help(set) to get info about all the functions and other stuffs

In [10]:
t = ([1,2,3], [5,6,9,8])
type(t)

tuple

In [37]:
t = (1,2,1,3,4,6,5)
a,b,*c = t
c

[1, 3, 4, 6, 5]

In [3]:
t = (x**x for x in range(70))
for i in t:
    print(i)

1
1
4
27
256
3125
46656
823543
16777216
387420489
10000000000
285311670611
8916100448256
302875106592253
11112006825558016
437893890380859375
18446744073709551616
827240261886336764177
39346408075296537575424
1978419655660313589123979
104857600000000000000000000
5842587018385982521381124421
341427877364219557396646723584
20880467999847912034355032910567
1333735776850284124449081472843776
88817841970012523233890533447265625
6156119580207157310796674288400203776
443426488243037769948249630619149892803
33145523113253374862572728253364605812736
2567686153161211134561828214731016126483469
205891132094649000000000000000000000000000000
17069174130723235958610643029059314756044734431
1461501637330902918203684832716283019655932542976
129110040087761027839616029934664535539337183380513
11756638905368616011414050501310355554617941909569536
1102507499354148695951786433413508348166942596435546875
106387358923716524807713475752456393740167855629859291136
10555134955777783414078330085995832946127396083370199442517
1075911801979993982060429252856123779115487368830416064610304
112595147462071192539789448988889059930192105219196517009951959
12089258196146291747061760000000000000000000000000000000000000000
1330877630632711998713399240963346255985889330161650994325137953641
150130937545296572356771972164254457814047970568738777235893533016064
17343773367030267519903781288812032158308062539012091953077767198995507
2050773823560610053645205609172376035486179836520607547294916966189367296
248063644451341145494649182395412689744530581492654164321720600128173828125
30680346300794274230660433647640397899788170645078853280082659754365153181696
3877924263464448622666648186154330754898344901344205917642325627886496385062863
500702078263459319174537025249570888246709955377400223021257741084821677152403456
66009724686219550843768321818371771650147004059278069406814190436565131829325062449
8881784197001252323389053344726562500000000000000000000000000000000000000000000000000
1219211305094648479473193481872927834667576992593770717189298225284399541977208231315051
170676555274132171974277914691501574771358362295975962674353045737940041855191232907575296
24356848165022712132477606520104725518533453128685640844505130879576720609150223301256150373
3542118045010639240328481337533320712639808638036812473211109743262552383710557968252383789056
524744532468751923546122657597368049278513737089035272057324643668607677682302892208099365234375
79164324866862966607842406018063254671922245312646690223362402918484170424104310169552592050323456
12158129736671364080886280192352136280305445908985401876990335800107686586023081377754367704855688057
1900306380941594479763883944859394903933421733915497351026033862324967197615194912638195921621021097984
302182066535432255614734701333399524449282910532282724655138380663835618264136459996754463358299552427939
48873677980689257489322752273774603865660850176000000000000000000000000000000000000000000000000000000000000
8037480562545943774063961638435258139453693382991023311670379647429452389091570630196571368048020948560431661
1343645645152250046583026779322969373035290953763411540290906502671301148502338015157014479136799509522304466944
228273036346967044979900512337165522400819024722490933829954793073267717315004135590642802687246850771579138342847
39402006196394479212279040100143613805079739270465446667948293404245721771497210611414266254884915640806627990306816
6908252164760920851405538694468286082230378724259454186289117297729987129104901877330036086277686990797519683837890625
1229984803535237425357460579824952453848609953896821302286319065669207712270213276022808840210306942692366529569453244416
222337020242360576812569226538683753874082408437758291741262115823894811650848346334502642370010973465496690788650052277723
40794917954274783314474389422963594412010553412954188046665939634971631296545460720786532465498226465248060567545587093733376
7596040312163297274222442578208043236112279041839441308045514203595638030283176823539793587591372230230103933110810192201741429

In [12]:
s = set([1,2,1,2,1,2,1])
s.add(10)
s

{1, 2, 10}

In [16]:
s = "one"
help(str)
id(s)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(...)
 |      S.__format__(format_spec) -> str
 |
 |      Return a formatted version of S as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(...)
 |      S.capitalize() -> str
 |
 |      Return a capitalized version of S, i.e. make the first character
 |      have upper case and the rest lower case.
 |
 |  casefold(...)
 |      S.casefold() -> str
 |
 |      Return a version of S suitable for caseless comparisons.
 |
 |  center(...)
 |      S.center(width[, fillchar]) -> str
 |
 |      Return S centered in a string of length width. Padding is
 |      done using the specified fill character (default is a space)
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(...)
 |      S.encode(encoding='utf-8', errors='strict') -> bytes
 |
 |      Encode S using the codec registered for encoding. Default encoding
 |      is 'utf-8'. errors may be given to set a different error
 |      handling scheme. Default is 'strict' meaning that encoding errors raise
 |      a UnicodeEncodeError. Other possible values are 'ignore', 'replace' and
 |      'xmlcharrefreplace' as well as any other name registered with
 |      codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(...)
 |      S.expandtabs(tabsize=8) -> str
 |
 |      Return a copy of S where all tab characters are expanded using spaces.
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(...)
 |      S.isalnum() -> bool
 |
 |      Return True if all characters in S are alphanumeric
 |      and there is at least one character in S, False otherwise.
 |
 |  isalpha(...)
 |      S.isalpha() -> bool
 |
 |      Return True if all characters in S are alphabetic
 |      and there is at least one character in S, False otherwise.
 |
 |  isdecimal(...)
 |      S.isdecimal() -> bool
 |
 |      Return True if there are only decimal characters in S,
 |      False otherwise.
 |
 |  isdigit(...)
 |      S.isdigit() -> bool
 |
 |      Return True if all characters in S are digits
 |      and there is at least one character in S, False otherwise.
 |
 |  isidentifier(...)
 |      S.isidentifier() -> bool
 |
 |      Return True if S is a valid identifier according
 |      to the language definition.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers
 |      such as "def" and "class".
 |
 |  islower(...)
 |      S.islower() -> bool
 |
 |      Return True if all cased characters in S are lowercase and there is
 |      at least one cased character in S, False otherwise.
 |
 |  isnumeric(...)
 |      S.isnumeric() -> bool
 |
 |      Return True if there are only numeric characters in S,
 |      False otherwise.
 |
 |  isprintable(...)
 |      S.isprintable() -> bool
 |
 |      Return True if all characters in S are considered
 |      printable in repr() or S is empty, False otherwise.
 |
 |  isspace(...)
 |      S.isspace() -> bool
 |
 |      Return True if all characters in S are whitespace
 |      and there is at least one character in S, False otherwise.
 |
 |  istitle(...)
 |      S.istitle() -> bool
 |
 |      Return True if S is a titlecased string and there is at least one
 |      character in S, i.e. upper- and titlecase characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |      Return False otherwise.
 |
 |  isupper(...)
 |      S.isupper() -> bool
 |
 |      Return True if all cased characters in S are uppercase and there is
 |      at least one cased character in S, False otherwise.
 |
 |  join(...)
 |      S.join(iterable) -> str
 |
 |      Return a string which is the concatenation of the strings in the
 |      iterable.  The separator between elements is S.
 |
 |  ljust(...)
 |      S.ljust(width[, fillchar]) -> str
 |
 |      Return S left-justified in a Unicode string of length width. Padding is
 |      done using the specified fill character (default is a space).
 |
 |  lower(...)
 |      S.lower() -> str
 |
 |      Return a copy of the string S converted to lowercase.
 |
 |  lstrip(...)
 |      S.lstrip([chars]) -> str
 |
 |      Return a copy of the string S with leading whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(...)
 |      S.partition(sep) -> (head, sep, tail)
 |
 |      Search for the separator sep in S, and return the part before it,
 |      the separator itself, and the part after it.  If the separator is not
 |      found, return S and two empty strings.
 |
 |  replace(...)
 |      S.replace(old, new[, count]) -> str
 |
 |      Return a copy of S with all occurrences of substring
 |      old replaced by new.  If the optional argument count is
 |      given, only the first count occurrences are replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(...)
 |      S.rjust(width[, fillchar]) -> str
 |
 |      Return S right-justified in a string of length width. Padding is
 |      done using the specified fill character (default is a space).
 |
 |  rpartition(...)
 |      S.rpartition(sep) -> (head, sep, tail)
 |
 |      Search for the separator sep in S, starting at the end of S, and return
 |      the part before it, the separator itself, and the part after it.  If the
 |      separator is not found, return two empty strings and S.
 |
 |  rsplit(...)
 |      S.rsplit(sep=None, maxsplit=-1) -> list of strings
 |
 |      Return a list of the words in S, using sep as the
 |      delimiter string, starting at the end of the string and
 |      working to the front.  If maxsplit is given, at most maxsplit
 |      splits are done. If sep is not specified, any whitespace string
 |      is a separator.
 |
 |  rstrip(...)
 |      S.rstrip([chars]) -> str
 |
 |      Return a copy of the string S with trailing whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(...)
 |      S.split(sep=None, maxsplit=-1) -> list of strings
 |
 |      Return a list of the words in S, using sep as the
 |      delimiter string.  If maxsplit is given, at most maxsplit
 |      splits are done. If sep is not specified or is None, any
 |      whitespace string is a separator and empty strings are
 |      removed from the result.
 |
 |  splitlines(...)
 |      S.splitlines([keepends]) -> list of strings
 |
 |      Return a list of the lines in S, breaking at line boundaries.
 |      Line breaks are not included in the resulting list unless keepends
 |      is given and true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(...)
 |      S.strip([chars]) -> str
 |
 |      Return a copy of the string S with leading and trailing
 |      whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(...)
 |      S.swapcase() -> str
 |
 |      Return a copy of S with uppercase characters converted to lowercase
 |      and vice versa.
 |
 |  title(...)
 |      S.title() -> str
 |
 |      Return a titlecased version of S, i.e. words start with title case
 |      characters, all remaining cased characters have lower case.
 |
 |  translate(...)
 |      S.translate(table) -> str
 |
 |      Return a copy of the string S in which each character has been mapped
 |      through the given translation table. The table must implement
 |      lookup/indexing via __getitem__, for instance a dictionary or list,
 |      mapping Unicode ordinals to Unicode ordinals, strings, or None. If
 |      this operation raises LookupError, the character is left untouched.
 |      Characters mapped to None are deleted.
 |
 |  upper(...)
 |      S.upper() -> str
 |
 |      Return a copy of S converted to uppercase.
 |
 |  zfill(...)
 |      S.zfill(width) -> str
 |
 |      Pad a numeric string S with zeros on the left, to fill a field
 |      of the specified width. The string S is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

2503729765320

# Functions

# Multiple arguments (*)

In [3]:
def find(*s, x = 5):
    print(x)
    print(s)
    for i in s:
        print(i)
        
find(1,2,3,6, x = 6)

6
(1, 2, 3, 6)
1
2
3
6

# ** Keyword arguments (kwargs)

In [4]:
# here kwargs converts the arguments or parameters into dictionary

def find(**kwargs):
    print(kwargs)
    return [i for i in kwargs.values()], [i for i in kwargs.keys()]

find(n= 2, s = 1, p= 5)

{'n': 2, 's': 1, 'p': 5}

([2, 1, 5], ['n', 's', 'p'])

# can use global a to define a variable named a globally

In [108]:
# global to make the varibale scope global
global a
a = 4
def hello():
    global b
    b = 6
    print(a)
    
def bro():
    print(a,b)
    
hello()
bro()

4
4 6

# *Lambda* or anonymous functions

In [109]:
s = lambda x: x*x
s(2)

4

In [111]:
s = lambda x,y,z: x + y + z
s(1,2,3)

6

In [113]:
s = lambda x: [i**2 for i in x]
s([1,2,3,4])

[1, 4, 9, 16]

In [6]:
s= lambda x,y,z: [x**z for i in y]
s(2,[1,2,3,4,5], 6)

[64, 64, 64, 64, 64]

In [24]:
s = lambda x: [i*8 for i in x]
s([1,2,3,5])

[8, 16, 24, 40]

# Filter function filter(function, sequence)

In [45]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 

def isEven(x):
    return x % 2 == 0

filtered_list = list(filter(isEven, li))
filtered_list

[22, 54, 62]

# Map function map(function, sequence)

In [50]:
# apply a function to all the values in the sequence

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 

def isEven(x):
    return x % 2 == 0

mapped_list = list(map(lambda x: x ** 2, li))
mapped_list

[25, 49, 484, 9409, 2916, 3844, 5929, 529, 5329, 3721]

In [59]:
l1 = [5, 7, 22, 10]
l2 = [6, 2, 5, 8]

mapped_list = list(map(lambda x, y: x * y, l1, l2))
mapped_list

[30, 14, 110, 80]

In [58]:
l1 = [5, 7, 22, 10]
l2 = [6, 2, 5, 8]

def multiply(x,y):
    return x * y

mapped_list = list(map(multiply, l1, l2))
mapped_list

[30, 14, 110, 80]

# Reduce function reduce(function, value)

In [79]:
# reduces the sequence into a single value

from functools import reduce

lst = [1, 2, 3, 4]

s = reduce(lambda x, y : x + y, lst)
s

10

In [76]:
from functools import reduce as r

lst = [1, 2, 3, 4]
def add(x):
    total = 0
    return total + x

s = r(lambda x, y : x + y, lst)
s

10

In [89]:
def outer():
    print('bro')
    def inner():
        print('manohman')
    return inner()
s = outer()
s

bro
manohman

# Generators : reponsible for generating sequence of values (yield)

In [93]:
def generateEven(n):
    yield n % 2 == 0
    
s = generateEven(10)
for i in s:
    print(i)

True

In [2]:
def fib(n):
    a, b = 0, 1
    i = 0
    while i < n:
        yield a 
        a , b = b , a + b
        i += 1
try :
    for i in fib(10):
        print(i)
except:
    print("value error")

0
1
1
2
3
5
8
13
21
34

In [1]:
def countdown(n):
    c = 0
    while c < n:
        yield c
        c = c  + 1 
lst = []      
for i in countdown(10):
    lst.append(i)
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
 

#-----------------------------------------------------------------



#-----------------------------------------------------------------



#-----------------------------------------------------------------

Q Find the Nth Fibonacci number
Example
Input: 15
Output: 610 

#-----------------------------------------------------------------

Q Find the Factorial of a number

Example
Input: 6
Output: 720 

#-----------------------------------------------------------------

Q Find the missing number in a array of size n where numbers vary from 1 to n? 
Input:
n = 5
[3,1,5,?,2]
Output: 4

#-----------------------------------------------------------------

Q Find the first repeating element in an array of integers?
Input:  arr[] = {10, 5, 3, 4, 3, 5, 6}
Output: 5 [5 is the first element that repeats]

#-----------------------------------------------------------------

Q If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. 
The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.

#-----------------------------------------------------------------


#-----------------------------------------------------------------

Q Input the coins denomination from the user and the amount. 
Make a coin calculator which finds out the least number of coins 
required to compute an amount of money.

Example
Input:
coins = [1,2,3,4,5]
amount: 24
24 = (4 X Rs. 5) + (1 X Rs. 3) + (0 X Rs. 2) + (1 X Rs. 1)

Output:
4 1 0 1

#-----------------------------------------------------------------

In [28]:
# Q check if a given number is prime or not?
def checkPrime(x):
    temp = True
    if x <= 1:
        temp = False
    for i in range(2,x):
        if(x % i == 0):
            temp = False
    return temp

checkPrime(5)

True

In [29]:
# Q Find the position of an number in a unsorted array.

def findIndex(x, lst):
    for i in lst:
        if x == i:
            return lst.index(i)
        
findIndex(1, [5,2,6,4,8,3,1,5,4,9])

6

In [36]:
# Q Find the Nth Fibonacci number
# Example
# Input: 15
# Output: 610 

def fib(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)
fib(15)

610

In [49]:
#Q Find the Factorial of a number

#Example
#Input: 6
#Output: 720 

def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n-1)

fact(6)

def fact1(n):
    total = 1
    for i in range(1, n+1):
        total *= i
    return total
fact1(6)

720

In [68]:
#Q Find the missing number in a array of size n where numbers vary from 1 to n? 
#Input:
#n = 5
#[3,1,5,?,2]
#Output: 4

def find(lst):
    s = len(lst)
    total = sum(lst)
    v = (s + 1) * (s + 2)/2
    return int(v - total)
    
find([3,1,5,2])

4

In [118]:
# Q Find the first repeating element in an array of integers?
# Input:  arr[] = {10, 5, 3, 4, 3, 5, 6}
# Output: 5 [5 is the first element that repeats]

def findRepeat(lst, t):
    return [i for i in lst if lst.count(i) > 1][t]
            
findRepeat([1,5,2,3,4,5,5,2,3], 0)

5

In [124]:
# Q If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. 
# The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.

def find(n):
    total = 0
    for i in range(n):
        if i % 3 == 0 or i % 5 == 0:
            total = total + i
    return total

find(1000)

233168

In [27]:
# Q Find first 5 prime palindromes numbers
# Output: 101, 79197, 324423, etc 
def checkPrime(x):
    temp = True
    if x <= 1:
        temp = False
    for i in range(2,x):
        if(x % i == 0):
            temp = False
    return temp

def findPal(n):
    lst = []
    for i in range(n):
        if str(i) == ''.join([j for j in reversed(str(i))]) and checkPrime(i) and len(str(i)) > 2:
            lst.append(i)
    return lst[:5]

findPal(324424)

[101, 131, 151, 181, 191]

In [89]:
# Q Input the coins denomination from the user and the amount. 
# Make a coin calculator which finds out the least number of coins 
# required to compute an amount of money.

# Example
# Input:
# coins = [1,2,3,4,5]
# amount: 24
# 24  = 5 * 4 + 4 * 1

# Output:
# 4 1 0 1

def leastCoins(lst, x):
    temp = []
    if x == 0:
        return 0
    else:       
        while x != 0:
            if x % max(lst) == 0:
                temp.append((max(lst), x//max(lst)))
                x = 0
            elif max(lst) < x:
                temp.append((max(lst), x//max(lst)))
                x = x % max(lst)
                lst.remove(max(lst))
            else:
                lst.remove(max(lst))

            
    return dict(temp) 
    
leastCoins([1,2,3,4,5], 24)

{5: 4, 4: 1}

# Assignment 5

In [ ]:
Q Find Two Missing Numbers
Given an array of n unique integers where each element 
in the array is in range [1, n]. The array has all 
distinct elements and size of array is (n-2). 
Hence Two numbers from the range are missing from this array. 
Find the two missing numbers.

Input: arr = [1, 3, 5, 6]
Output: 2 4
Explaination:

In [71]:
def findNums(lst):
    s = len(lst) + 2
    missing = int((s * (s + 1))/2) - sum(lst)
    
    for i in range(1,len(lst) + 3):
        for j in range(1,len(lst) + 3):
            if i not in lst and j not in lst and i + j == missing and i !=j:
                return i,j
    

findNums([1,2,4,5,6,7,8,9,10,11,12,13,14,16])

(3, 15)

In [ ]:
Reverse an array in groups of given size

Input: arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
k = 3
Output: [3, 2, 1, 6, 5, 4, 9, 8, 7]
Explaination: Given an array, reverse every sub-array formed by 
consecutive k elements

In [77]:
from functools import reduce

def reverseK(arr, k):
    lst = []
    n = 0
    s = k
    while n <= len(arr) :
        lst.append([i for i in reversed(arr[n:k])])
        n = k
        k += s
    return reduce(lambda x, y: x + y, lst)
         
reverseK([1, 2, 3, 4, 5, 6, 7, 8, 9], 2)

[2, 1, 4, 3, 6, 5, 8, 7, 9]

In [17]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lst = []
lst.append([i for i in reversed(arr[:3])])
lst

[[3, 2, 1]]

In [ ]:
Find all triplets in a sorted array that forms Geometric Progression
Input: arr = [1, 2, 6, 10, 18, 54]
Output: 2 6 18 and 6 18 54
Explaination:

In [91]:
def findGP(arr):
    temp = []
    for i in arr:
        for j in arr:
            for k in arr:
                if i/j == j/k  and arr.index(i) != arr.index(j) and arr.index(j) != arr.index(k):
                    if set([i,j,k]) not in temp:
                        temp.append(set([i,j,k]))
    return temp

                
arr = [1, 2, 6, 10, 18, 54]
findGP(arr)

[{2, 6, 18}, {6, 18, 54}]

In [ ]:
Find if array can be divided into two subarrays of equal sum
Input: arr = [6, 2, 3, 2, 1]
Output: true
Explaination: Given an array of integers, find if its possible
to remove exactly one integer from the array that divides the array into two subarrays with the same sum.

In [121]:
def subArray(arr):
    for i in range(len(arr)):
        
        value = arr[i]
        index = i
        arr.remove(arr[i])
        temp = False
        
        if sum(arr) % 2 != 0 or len(arr) < 2:
            temp = False
        else:
            ls = 0
            for i in range(0, len(arr)):
                ls += arr[i]
                
                rs = 0
                for j in range(i + 1, len(arr)):
                    rs += arr[j]
                    
                if ls == rs:
                    print(arr)
                    print(ls)
                    return True
                
        arr.insert(index, value)
    return temp

arr = [1,2,3,4]
subArray(arr)

[1, 3, 4]
4

True

In [ ]:
Remove duplicates from an array of small primes
Input: arr = {3, 5, 7, 2, 2, 5, 7, 7};
Output: arr = {2, 3, 5, 7}
Explaination: Given an array of primes such that the range of primes
is small. Remove duplicates from the array.

In [135]:
def removeDuplicates(arr):
    return list(set(arr))

removeDuplicates([3, 5, 7, 2, 2, 5, 7, 7])

[2, 3, 5, 7]

In [ ]:
Given an array A[], write a function that segregates even 
and odd numbers.
Input: {12, 34, 45, 9, 8, 90, 3}
Output: {12, 34, 8, 90, 45, 9, 3} 
Explaination: It should put all even numbers first, then odd numbers.

In [174]:
def separateNums(lst):
    even = [i for i in lst if i % 2 == 0]
    odd = [i for i in lst if i % 2 == 1]
    return even + odd

separateNums([1,2,3,4,5,6,7,8,9,7,8,9,8,7,4,55,22])

[2, 4, 6, 8, 8, 8, 4, 22, 1, 3, 5, 7, 9, 7, 9, 7, 55]

In [ ]:
Find a triplet that sum to a given value
Input: {12, 3, 4, 1, 6, 9} , sum =24
Output: True
Explaination:  find if there is a triplet in array whose sum is 
equal to the given value. If there is such a triplet present in 
array, then print the triplet and return true. Else return false.

In [71]:
def findTrip(arr, x):
    lst = []
    temp = False
    for i in arr:
        for j in arr:
            for k in arr:
                if i + j + k == x and arr.index(i) != arr.index(j) and arr.index(j) != arr.index(k) and arr.index(i) != arr.index(k):
                    if {i,j,k} not in lst:
                        lst.append(set([i,j,k]))
                        print(lst)
                    temp = True
    return temp
x = 24
arr = [12, 3, 4, 1, 6, 9]
findTrip(arr, x)

[{9, 3, 12}]

True

In [ ]:
Given an array and a number x, find if there is a pair with 
product equal to x.
Input: arr = {10, 20, 9, 40}, x = 400;
Output: Yes
Explaination:

In [204]:
def findMul(arr, x):
    temp = False
    for i in arr:
        if x/i in arr and arr.index(i) != arr.index(x/i) or arr.count(x/i) > 1:
            temp = True
    return temp

findMul([10, 20, 2, 4, 10, 25], 250)

True

In [ ]:
Given an array of integers, and a number sum, find the number
 of pairs of integers in the array whose sum is equal to sum.
Input: arr = {1, 5, 7, -1}, sum = 6
Output: 2 (Pairs with sum 6 are (1, 5) and (7, -1))
Explaination:

In [98]:
def findAdd(arr, x):
    temp = []
    for i in arr:
        if x - i in arr and arr.index(i) != arr.index(x - i) or arr.count(x - i) > 1:
            if set([i, x - i]) not in temp:
                temp.append(set([i, x - i]))
    return temp

findAdd([7, -1, 6, 0, 8, 1], 0)

[{-1, 1}]

In [ ]:
Given heights of n towers and a value k. We need to either 
increase or decrease height of every tower by k (only once) 
where k > 0. The task is to minimize the difference between 
the heights of the longest and the shortest tower after modifications, 
and output this difference.

Input: arr = {1, 15, 10}, k = 6
Output: arr = {7, 9, 4}, Maximum difference is 5.
Explaination: We change 1 to 6, 15 to 9 and 10 to 4. Max diff is 5
(between 4 and 9). We cannot get a lowerdifference.

In [220]:
arr = [1,15,10]
k = 6

def findMinDiff(arr, k): 
    n = len(arr)
    if (n == 1): 
        return 0
   
    arr.sort()  
  
    ans = arr[n-1] - arr[0]  
  
    small = arr[0] + k  
    big = arr[n-1] - k  
      
    if (small > big): 
        small, big = big, small  
   
    for i in range(1, n-1): 
      
        subtract = arr[i] - k  
        add = arr[i] + k  
   
        if (big - subtract <= add - small): 
            small = subtract  
        else: 
            big = add  
      
    return min(ans, big - small)  
  
findMinDiff(arr,k)

5

In [151]:
arr = [1, 15, 10]
arr.sort()
max(arr) - min(arr)

for i in arr:
    lef =

14

In [131]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

# Erro Handling and Exceptions

In [66]:
import pandas as pd

try: 
    x = 9/0
    df = pd.read_csv('hello.csv')
    
    
except FileNotFoundError as msg:
    print('File not found in the given path: ', msg)

except ZeroDivisionError as msg:
    print('Cannot divide by zero: ', msg)
    
except: # default exception block
    print('Default: something wrong in try block')
    
finally:
    print('what up yo')

Cannot divide by zero:  division by zero
what up yo

# Classes and Inheritance

In [140]:
class Building(object):
    """Building class"""
    def __init__(self, floors, rooms):
        self.floors = floors
        self.rooms = rooms
        
        self.color = "blue"
        self.standing = True
        
    def destroy(self):
        self.standing = False
        del self.floors
        del self.rooms
        
    def build():
        print("Constructing")
        

building1 = Building(3, 60)
print(building1.standing)
building1.destroy()
print(building1.standing)
building1.color
Building.build() # static method

True
False
Constructing

In [145]:
# class with multiple inheritance
class House(Building, Car):
    """Child class of the Building parent"""
    def __init__(self, floors, rooms, color, garage, fuel_capacity):
        Building.__init__(self, floors, rooms)
        self.color = color
        self.garage = garage
        self.fuel_capacity = fuel_capacity
    
    def who(self):
        print("Child bro")
    

h = House(1,5,"Black", True, 25)
#House.who() # if the def who() is empty
h.who()
h.color
h.fill_tank()

Child bro
Fuel tank is full.

In [256]:
class Car():
     value = 5000
     """A simple attempt to model a car."""
     def __init__(self, make, model, year):
         """Initialize car attributes."""
         self.make = make
         self.model = model
         self.year = year
         # Fuel capacity and level in gallons.
         self.fuel_capacity = 15
         self.fuel_level = 0
         Car.value -=100
            
     def fill_tank(self):
         """Fill gas tank to capacity."""
         self.fuel_level = self.fuel_capacity
         print("Fuel tank is full.")
            
     @classmethod
     def reduceValue(cls):
            cls.value -= 1000
            return cls.value
        
     @staticmethod
     def whatnot():
        print('chill bro')

     def drive(self):
         """Simulate driving."""
         print("The car is moving.")

In [254]:
Car.reduceValue()

4000

In [257]:
Car.whatnot()

chill bro

In [227]:
car_gas = Car('honda', 'civic', 2016)
car_gas.fill_tank()

Fuel tank is full.

In [5]:
car_gas.drive()

The car is moving.

# JSON in python

In [1]:
import json as j

lst = [1,2,3,4,5,6]
jsonLst = j.dumps(lst)
type(jsonLst)
jsonLst

'[1, 2, 3, 4, 5, 6]'

In [2]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

s = json.dumps(x)
type(s)
s

'{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}'

# Numpy

In [9]:
import numpy as np

arr = np.array([1,2,3,4,5])

for i in range(len(arr)):
    arr[i] = arr[i] ** 2

arr

array([ 1,  4,  9, 16, 25])

In [17]:
arr = np.array(([1,2,3,4], [5,6,7,8]), dtype = int)
arr

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [29]:
# create an array of zeros

np.zeros((2, 5), dtype = int)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [37]:
# create an array of zeros

arr = np.ones((2,5), dtype = float)
arr

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [40]:
# create an array of evenly spaced values (step values)
# or array in a particular range

# array in range 10 to n-1 = 24,  
np.arange(10,25)
np.arange(10,25,2)

array([10, 12, 14, 16, 18, 20, 22, 24])

In [53]:
# Create an array of evenly spaced values (number of samples)

np.linspace(0,2,9)

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [60]:
# create a constant array
s = np.full((2,2), 25)
s

array([[25, 25],
       [25, 25]])

In [63]:
# Identity matrix

np.eye(5,5, dtype= int)

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [79]:
# array with random values

np.random.random((2, 2))

array([[0.93360394, 0.27003117],
       [0.72944558, 0.50109272]])

In [89]:
# empty array

s = np.empty((3,3))

In [95]:
#  Saving and Loading numpy arrays on disk

arr = np.arange(1,50)
arr2 = np.arange(50,100)

np.save('arr', arr)

In [109]:
np.load('arr.npy')

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [98]:
np.savez('array.npz', arr, arr2)

In [100]:
np.load('array.npz')

In [103]:
# loading text files and other kinds of files 
np.loadtxt('s.txt',  dtype = str)

array(['Hello', 'mah', 'man'], dtype='<U5')

In [107]:
np.genfromtxt("s.csv", delimiter=',')

array([1., 2., 3., 4., 5., 6.])

In [112]:
arr = np.array([1,2,3,4,5]) 
np.savetxt("myarray.txt", arr, delimiter=" ")

In [131]:
arr = np.array(([[(1.5,2,3), (4,5,6)], [(3,2,1), (4,5,6)]]))
arr.shape

(2, 2, 3)

In [132]:
len(arr)

2

In [133]:
arr.ndim

3

In [134]:
arr.size # number of elements in the array

12

In [137]:
arr.dtype.name # get array datatype
arr.dtype

dtype('float64')

In [141]:
arr.astype(str) # convert array data type

array([[['1.5', '2.0', '3.0'],
        ['4.0', '5.0', '6.0']],

       [['3.0', '2.0', '1.0'],
        ['4.0', '5.0', '6.0']]], dtype='<U32')

In [146]:
# for help with numpy
np.info(np)

NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://www.scipy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as `np`::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

To search for documents containing a keyword, do::

  >>> np.lookfor('keyword')
  ... # doctest: +SKIP

General-purpose documents like a glossary and help on the basic concepts
of numpy are available under the ``doc`` sub-module::

  >>> from numpy import doc
  >>> help(doc)
  ... # doctest: +SKIP

Available subpackages
---------------------
doc
    Topical documentation on broadcasting, indexing, etc.
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
f2py
    Fortran to Python Interface Generator.
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more.

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
dual
    Overwrite certain functions with high-performance Scipy tools
matlib
    Make everything matrices.
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------
Start IPython with the NumPy profile (``ipython -p numpy``), which will
import `numpy` under the alias `np`.  Then, use the ``cpaste`` command to
paste examples into the shell.  To see which functions are available in
`numpy`, type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [200]:
a = np.array([1,2,3,4,5])
b = np.array([6,7,8,9,10])
a - b
np.subtract(b,a)

array([5, 5, 5, 5, 5])

In [166]:
print(a.shape)
print(b.shape)

(2, 4)
(4,)

In [160]:
a + b
np.add(a,b)

array([[10, 10, 10, 10],
       [10, 10, 10, 10]])

In [161]:
b/a
np.divide(a,b)

array([[0.11111111, 0.25      , 0.42857143, 0.66666667],
       [0.11111111, 0.25      , 0.42857143, 0.66666667]])

In [168]:
a * b
np.multiply(a,b)

array([[ 9, 16, 21, 24],
       [ 9, 16, 21, 24]])

In [171]:
np.exp(a)

array([[ 2.71828183,  7.3890561 , 20.08553692, 54.59815003],
       [ 2.71828183,  7.3890561 , 20.08553692, 54.59815003]])

In [170]:
np.sqrt(a)

array([[1.        , 1.41421356, 1.73205081, 2.        ],
       [1.        , 1.41421356, 1.73205081, 2.        ]])

In [186]:
from math import inf

np.sin(0)
np.cos(0)
np.log(inf)

inf

In [187]:
# dot product
a.dot(b)

array([70, 70])

In [198]:
a == b # element wise comparision

array([ True,  True,  True,  True,  True])

In [201]:
a < 10

array([ True,  True,  True,  True,  True])

In [202]:
np.array_equal(a,b) # array wise comparision, compares whole array

False

In [216]:
# Aggregate functions

a.sum()
a.min()
a.max()
a.cumsum(axis = 0) # commulative sum of the elemts(rows)
a.mean() # mean of all the elements in the array

# Correlation coefficient a number between 1 and +1 calculated so as to represent the
# linear dependence of two variables or sets of data.
#a.corrcoef() 

np.std(b) # standard deviation

1.4142135623730951

In [219]:
# create the view of the array with the same data
v = a.view()

# create a deep copy array
c = np.copy(a)
c

array([1, 2, 3, 4, 5])

In [226]:
# sorting an array
b.sort()
b.sort(axis = 0) # axis zero is rows and one is columns
b

array([ 6,  7,  8,  9, 10])

In [233]:
a[::-1]

array([5, 4, 3, 2, 1])

In [238]:
a[a<3]

array([1, 2])

In [245]:
b = np.array([[1,2,3], [4,5,6], [7,8,9]])
print(b)
i = np.transpose(b)
i # or i.T

[[1 2 3]
 [4 5 6]
 [7 8 9]]

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [246]:
# flatten the array: change multi dimension array to single dimension
b.ravel()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [254]:
b = np.array([[1,2,3], [4,5,6], [7,8,9]])
b.reshape(3,-3) # reshape but don't change the data

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [259]:
h = np.array([])
h.resize(3,6)
h.shape

(3, 6)

In [260]:
# append items to an array
np.append(h, b)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [265]:
# insert items in the array at index 0 and value 5
t = np.insert(a, 0, 5)
t

array([5, 1, 2, 3, 4, 5])

In [269]:
# delete item at index 4
np.delete(a, [4])

array([1, 2, 3, 4])

In [271]:
# concatenate array
a = np.array([1,2,3,4])
b = np.array([5,6,7,8])
np.concatenate((a,b), axis = 0)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [272]:
# Stack arrays vertically (row-wise)
np.vstack((a,b))

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [273]:
# Stack arrays horizontally (column-wise)
np.hstack((a,b))

array([1, 2, 3, 4, 5, 6, 7, 8])

In [274]:
# Create stacked column-wise arrays or np.c_[a,d]
np.column_stack((a,b))

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

In [278]:
# Split the array horizontally at the 3rd index
np.hsplit(a,2)

[array([1, 2]), array([3, 4])]

In [288]:
# Split the array vertically at the 2nd index
b = np.array([[1,2,3], [4,5,6], [7,8,9]])
np.vsplit(b,3)

[array([[1, 2, 3]]), array([[4, 5, 6]]), array([[7, 8, 9]])]